<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseModal()">Fermer</ion-button>
    </ion-buttons>
    <ion-title>Détail de la location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'lent': book.isLent}">
    <ion-card-header>
      <ion-card-title>{{ book.title }}</ion-card-title>
      <ion-card-subtitle>{{ book.author }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-segment (ionChange)="toggleLent($event)" [color]="book.isLent ? 'danger' : 'secondary'">
        <ion-segment-button [value]="0" [checked]="!book.isLent">
          Disponible
        </ion-segment-button>
        <ion-segment-button [value]="1" [checked]="book.isLent">
          Loué
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
</ion-content>
