<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseModal()">Fermer</ion-button>
    </ion-buttons>
    <ion-title>Détail de la location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'lent': cd.isLent}">
    <ion-card-header>
      <ion-card-title>{{ cd.title }}</ion-card-title>
      <ion-card-subtitle>{{ cd.artist }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-segment (ionChange)="toggleLent($event)" [color]="cd.isLent ? 'danger' : 'secondary'">
        <ion-segment-button [value]="0" [checked]="!cd.isLent">
          Disponible
        </ion-segment-button>
        <ion-segment-button [value]="1" [checked]="cd.isLent">
          Loué
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
    <form [formGroup]="cdFormGroup" (ngSubmit)="saveMe()">
      <ion-card-content *ngIf="cd.isLent">
        <ion-list>
          <ion-item-divider>Informations</ion-item-divider>
          <ion-item>
            <ion-label position="floating">Loué par</ion-label>
            <ion-input formControlName="lentBy" [(ngModel)]="cd.lentBy"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-card-content text-end>
        <ion-button
          type="submit"
          slot="end"
          [disabled]="cd.isLent && cdFormGroup.invalid"
        >Mettre à jour</ion-button>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
