<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cd-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      [ngClass]="{'lent': cd.isLent}"
      *ngFor="let cd of cds; let i=index"
      (click)="onOpenDetail(i)">
      <ion-label>
        <h3>{{ cd.title }}</h3>
        <p *ngIf="cd.lentBy && cd.lentBy.length > 0">Loué par {{ cd.lentBy }}</p>
      </ion-label>
      <ion-icon name="square-outline" slot="end" color="danger" *ngIf="cd.isLent"></ion-icon>
      <ion-icon name="checkbox-outline" slot="end" color="secondary" *ngIf="!cd.isLent"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
