<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cd-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      [ngClass]="{'lent': cd.isLent}"
      *ngFor="let cd of cds; let i=index"
      [detail]="true"
      (click)="onOpenDetail(i)">
      <ion-icon name="square-outline" slot="start" color="danger" *ngIf="cd.isLent"></ion-icon>
      <ion-icon name="checkbox-outline" slot="start" color="secondary" *ngIf="!cd.isLent"></ion-icon>
      <ion-label>{{ cd.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
