<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des livres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      [ngClass]="{'lent': book.isLent}"
      *ngFor="let book of books; let i=index"
      (click)="onOpenDetail(i)">
      <ion-label text-wrap>
        <h3>{{ book.title }}</h3>
        <p *ngIf="book.lentBy && book.lentBy.length > 0">Loué par {{ book.lentBy }}</p>
      </ion-label>
      <ion-icon name="square-outline" slot="end" color="danger" *ngIf="book.isLent"></ion-icon>
      <ion-icon name="checkbox-outline" slot="end" color="secondary" *ngIf="!book.isLent"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
